@model IEnumerable<diploma.Models.Core.Bill>

@{
    ViewBag.Title = "Счета пользователей";
}

<h2>Счета пользователей</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            Номер счета
        </th>
        <th>
            Дата выставления
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Подробнее", "Details", new { id = item.Number})
        </td>
    </tr>
}

</table>
